#!/usr/bin/env bash

set -Eeuo pipefail

brew update

brew bundle --file=/dev/stdin <<EOF
{{ range .homebrew_packages.all.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .homebrew_packages.all.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ if eq .workstation_type "work" -}}
{{ range .homebrew_packages.work.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .homebrew_packages.work.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
{{ if eq .workstation_type "private" -}}
{{ range .homebrew_packages.private.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .homebrew_packages.private.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
EOF
